<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'Student Details' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngIf="student.txtsname !== ''">
      <ion-label floating>{{ 'Name Of Student' | translate }} </ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="student.txtsname"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtsdob !== ''">
      <ion-label floating>{{ 'Date Of Birth' | translate }} </ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" disabled="true" [(ngModel)]="student.txtsdob"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="student.txtsadd !== ''">
      <ion-label floating>{{ 'Address of Student' | translate }} </ion-label>
      <ion-textarea disabled="true" [(ngModel)]="student.txtsadd"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="student.txtscontact !== ''">
      <ion-label floating>{{ 'Contact No' | translate }} </ion-label>
      <ion-input type="number" disabled="true" [(ngModel)]="student.txtscontact"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtsemail !== ''">
      <ion-label floating>{{ 'Email ID' | translate }} </ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="student.txtsemail"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtlanguage !== ''">
      <ion-label floating>{{ 'Language' | translate }} </ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="student.txtlanguage"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtinterest !== ''">
      <ion-label floating>{{ 'Interests' | translate }} </ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="student.txtinterest"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtschool !== ''">
      <ion-label floating>{{ 'Name Of School' | translate }} </ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="student.txtschool"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtschooladd !== ''">
      <ion-label floating>{{ 'Address of School' | translate }} </ion-label>
      <ion-textarea disabled="true" [(ngModel)]="student.txtschooladd"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="student.txtprograms !== ''">
      <ion-label floating>{{ 'Programs' | translate }} </ion-label>
      <ion-textarea disabled="true" [(ngModel)]="student.txtprograms"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="student.txthdyk !== ''">
      <ion-label floating>{{ 'How do you know Aloha?' | translate }} </ion-label>
      <ion-textarea disabled="true" [(ngModel)]="student.txthdyk"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="student.referralcode !== ''">
      <ion-label floating>{{ "Referral Code" | translate }} </ion-label>
      <ion-input disabled="true" [(ngModel)]="student.referralcode"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtfname !== ''">
      <ion-label floating>{{ "Father's Name" | translate }} </ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="student.txtfname"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtfoccupation !== ''">
      <ion-label floating>{{ "Father's Occupation" | translate }} </ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="student.txtfoccupation"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtfoffadd !== ''">
      <ion-label floating>{{ "Father's Office Address" | translate }} </ion-label>
      <ion-textarea disabled="true" [(ngModel)]="student.txtfoffadd"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="student.txtfoffcontact !== ''">
      <ion-label floating>{{ "Father's Contact No" | translate }} </ion-label>
      <ion-input type="number" disabled="true" [(ngModel)]="student.txtfoffcontact"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtfmail !== ''">
      <ion-label floating>{{ "Father's Email" | translate }} </ion-label>
      <ion-input type="string" disabled="true" [(ngModel)]="student.txtfmail"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtmname !== ''">
      <ion-label floating>{{ "Mother's Name" | translate }} </ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="student.txtmname"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtmoccupation !== ''">
      <ion-label floating>{{ "Mother's Occupation" | translate }} </ion-label>
      <ion-input type="text" disabled="true" [(ngModel)]="student.txtmoccupation"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtmoffadd !== ''">
      <ion-label floating>{{ "Mother's Office Address" | translate }} </ion-label>
      <ion-textarea disabled="true" [(ngModel)]="student.txtmoffadd"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="student.txtmoffcontact !== ''">
      <ion-label floating>{{ "Mother's Contact No" | translate }} </ion-label>
      <ion-input type="number" disabled="true" [(ngModel)]="student.txtmoffcontact"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.txtmmail !== ''">
      <ion-label floating>{{ "Mother's Email" | translate }} </ion-label>
      <ion-input type="string" disabled="true" [(ngModel)]="student.txtmmail"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.paymentStatus !== ''">
      <ion-label floating>{{ "Payment Status" | translate }} </ion-label>
      <ion-input type="string" disabled="true" [(ngModel)]="student.paymentStatus"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.paymentDetails && student.paymentDetails.orderAmount !== ''">
      <ion-label floating>{{ "Amount" | translate }} </ion-label>
      <ion-input type="string" disabled="true" [(ngModel)]="student.paymentDetails.orderAmount"></ion-input>
    </ion-item>

    <ion-item *ngIf="!student.paymentDetails || student.paymentDetails.orderAmount === ''">
      <ion-label floating>{{ "Amount" | translate }} </ion-label>
      <ion-input type="string" disabled="true" value={{6500*student.txtprograms.length}}></ion-input>
    </ion-item>

    <ion-item *ngIf="student.paymentDetails && student.paymentDetails.orderId !== ''">
      <ion-label floating>{{ "Order ID" | translate }} </ion-label>
      <ion-input type="string" disabled="true" [(ngModel)]="student.paymentDetails.orderId"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.paymentStatus === 'PAID'">
      <ion-label floating>{{ "PAID THROUGH" | translate }} </ion-label>
      <ion-input type="string" disabled="true" value="DIRECT"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.paymentStatus !== 'PAID'">
      <ion-label floating>{{ "PAID THROUGH" | translate }} </ion-label>
      <ion-input type="string" disabled="true" value="CASHFREE"></ion-input>
    </ion-item>

    <ion-item>
      <div style="width: 50%;display: block; float: left;">
        <p>Photo</p>
        <img src={{student.photo}} *ngIf="student.photo !== ''" class="online-image-display" />
        <img src="https://identix.state.gov/qotw/images/no-photo.gif" *ngIf="student.photo === ''"
          class="online-image-display" />
      </div>
      <div style="width: 50%;display: block; float: left;">
        <p>ID Proof</p>
        <img src={{student.idproof}} *ngIf="student.idproof !== ''" class="online-image-display" />
        <img src="https://identix.state.gov/qotw/images/no-photo.gif" *ngIf="student.idproof === ''"
          class="online-image-display" />
      </div>
    </ion-item>

  </ion-list>

</ion-content>