<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'Instructor Enquiries' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>

      <ion-item>
        <ion-label floating>{{ 'Name' | translate }} <span class="mandatory-field"> * </span> </ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'State' | translate }} <span class="mandatory-field"> * </span> </ion-label>
        <ion-select multiple="false" cancelText="Cancel" okText="Okay" formControlName="instructor_state" (ionChange)="onInstructorStateChange($event)"
          [disabled]="isStateDisabled">
          <ion-option value={{state._id}} *ngFor="let state of states">{{state.center_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'District' | translate }}  </ion-label>
        <ion-select multiple="false" cancelText="Cancel" okText="Okay" formControlName="instructor_district"
          (ionChange)="onInstructorDistrictChange($event)" [disabled]="isDistrictDisabled">
          <ion-option value={{district._id}} *ngFor="let district of districts">{{district.center_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Area' | translate }} <span class="mandatory-field"> * </span> </ion-label>
        <ion-select multiple="false" cancelText="Cancel" okText="Okay" formControlName="instructor_area" [disabled]="isAreaDisabled">
          <ion-option value={{area._id}} *ngFor="let area of areas">{{area.center_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Address' | translate }} <span class="mandatory-field"> * </span> </ion-label>
        <ion-textarea #myInput id="myInput" rows="2" maxLength="500" (keyup)="resize()" formControlName="address"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Pincode' | translate }} <span class="mandatory-field"> * </span> </ion-label>
        <ion-input type="number" formControlName="pincode"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Mobile No' | translate }} <span class="mandatory-field"> * </span> </ion-label>
        <ion-input type="number" formControlName="mobile_no" (ionChange)="onPhoneOrEmailChange($event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Whatsapp No' | translate }} </ion-label>
        <ion-input type="number" formControlName="whatsapp_no" (ionChange)="onPhoneOrEmailChange($event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Email ID' | translate }} <span class="mandatory-field"> * </span> </ion-label>
        <ion-input type="text" formControlName="email_id" (ionChange)="onPhoneOrEmailChange($event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Date Of Birth' | translate }}</ion-label>
        <ion-datetime displayFormat="DD/MMM/YYYY" formControlName="dob"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Qualification' | translate }}</ion-label>
        <ion-input type="text" formControlName="qualification"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Old Organization Name' | translate }}</ion-label>
        <ion-input type="text" formControlName="old_organization_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Old Organization Designation' | translate }}</ion-label>
        <ion-input type="text" formControlName="old_organization_designation"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Total Experience' | translate }}</ion-label>
        <ion-input type="text" formControlName="total_experience"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Programs Interested In' | translate }} <span class="mandatory-field"> * </span> </ion-label>
        <ion-select multiple="true" cancelText="Cancel" okText="Okay" formControlName="program">
          <ion-option value={{program._id}} *ngFor="let program of programmes">{{program.program_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Remarks' | translate }}</ion-label>
        <ion-textarea #myInput1 id="myInput1" rows="2" maxLength="5000" (keyup)="resize()" formControlName="remarks"></ion-textarea>
      </ion-item>

    </ion-list>
  </form>

</ion-content>

<ion-footer no-border>
  <ion-toolbar transparent>
    <button ion-button full (click)="save()" [disabled]="!isReadyToSave || counter > 0">
      {{ 'SAVE' | translate }}
    </button>
  </ion-toolbar>
</ion-footer>