<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'New Program' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="form">

    <ion-list>
      <ion-item>
        <ion-label floating>{{ 'Program Name' | translate }} <span class="mandatory-field"> * </span> </ion-label>
        <ion-input type="text" formControlName="program_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'Program Code' | translate }} <span class="mandatory-field"> * </span> </ion-label>
        <ion-input type="text" formControlName="program_code" (ionChange)="onRegisterationCodeChange($event)">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'No Of Sessions' | translate }} <span class="mandatory-field"> * </span> </ion-label>
        <ion-input type="text" formControlName="no_of_sessions"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'Months Per Level' | translate }} <span class="mandatory-field"> * </span> </ion-label>
        <ion-input type="number" formControlName="months_per_level"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'Total Levels' | translate }} <span class="mandatory-field"> * </span> </ion-label>
        <ion-input type="number" formControlName="total_levels"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>{{ 'Active' | translate }} </ion-label>
        <ion-toggle color="primary" formControlName="active"></ion-toggle>
      </ion-item>
    </ion-list>

  </form>

  <ion-grid>
    <ion-row>
      <ion-title>{{ 'Registration Kit:' | translate }}</ion-title>
      <ion-buttons right>
        <button ion-button icon-only (click)="addRegisterationKit()" color="success">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-row>
  </ion-grid>

  <ion-list class="looping-reg">
    <ion-row *ngFor="let item of registration_kit; let i = index; trackBy:trackByFn" style="padding-right: 15px; padding-left: 15px;">
      <ion-input type="text" placeholder="Kit {{i}}" [(ngModel)]="registration_kit[i]"></ion-input>
      <ion-buttons right>
        <button ion-button icon-only (click)="removeRegisterationKit(i)" color="danger">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-row>
  </ion-list>

  <p class="error-validation-msg" *ngIf="isDuplicate"> There already exists a Program with same Code. Please change
    Code. </p>

</ion-content>

<ion-footer no-border>
  <ion-toolbar transparent>
    <button ion-button full (click)="createProgram()" [disabled]="!isReadyToSave || isDuplicate">
      {{ 'SAVE' | translate }}
    </button>
  </ion-toolbar>
</ion-footer>