<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'User Details' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>

      <ion-item>
        <ion-label floating>{{ 'Full Name' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.name" name="name" disabled="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'User Name' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.user_name" name="user_name" disabled="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Phone No' | translate }}</ion-label>
        <ion-input type="number" [(ngModel)]="account.phone_no" name="phone_no" disabled="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Email' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email" disabled="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Date Of Birth' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.dob" name="dob" disabled="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Gender' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.gender" name="gender" disabled="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Role' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.role" name="role" disabled="true"></ion-input>
      </ion-item>

      <ion-item *ngIf="account.user_state != ''">
        <ion-label floating>{{ 'State' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.user_state" name="user_state" disabled="true"></ion-input>
      </ion-item>

      <ion-item *ngIf="account.user_district == ''">
        <ion-label floating>{{ 'District' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.user_district" name="user_district" disabled="true"></ion-input>
      </ion-item>

      <ion-item *ngIf="account.user_center == ''">
        <ion-label floating>{{ 'Unit / Center' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.user_center" name="user_center" disabled="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'Active' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.active" name="active" disabled="true"></ion-input>
      </ion-item>

    </ion-list>
  </form>
</ion-content>