.icon-circle {
    position: relative;
    display: inline-block;
    margin: -10px;
    width: 30px;
    height: 30px;
    font-size: 25px;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    background: black;
    color: #fff;
    text-align: center;
}