page-welcome {

  img {
    border-radius: 0% !important;
    overflow: visible !important;
    width: 75% !important;
    height: auto !important;
    border: none !important;
  }

  .fixed-content {
    background-image: url(http://imgs.mi9.com/uploads/abstract/4147/abstract-blue-backgrounds-34_1920x1200_71451.jpg);
    background-size: cover;
  }
  
  .logoHeader {
    text-align: center !important;
    margin-top: 10% !important;
  }
  
  .splash-bg {
    position: relative;
    background: url('../assets/img/splashbg.png') no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }
  
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  
  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  
  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }
  
  button.login {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    background:  #42cafc !important;
    padding: 22px !important;
    &.activated {
      background-color: #42cafc;
    }
  }

  button.signup {
    background-color: white;
    color: map_get($colors, theme_color);
    border: 3px solid map_get($colors, theme_color) !important;
    padding: 19px !important;
  }
  
  input, select, textarea {
    color: map_get($colors, white) !important;
    font-weight: bold;
    font-size: large;
    // text-align: center !important;
  }
  
  ::-webkit-input-placeholder {
    // text-align: center;
    color: map_get($colors, white) !important;
    font-weight: bolder;
  }
  
  :-moz-placeholder { /* Firefox 18- */
    // text-align: center;
    color: map_get($colors, white) !important;
    font-weight: bolder;
  }
  
  ::-moz-placeholder { /* Firefox 19+ */
    // text-align: center;
    color: map_get($colors, white) !important;
    font-weight: bolder;
  }
  
  :-ms-input-placeholder {
    // text-align: center;
    color: map_get($colors, white) !important;
    font-weight: bolder;
  }
  
  .scroll-content {
    left: 17px !important;
    width: 90% !important;
    margin-top: 10%;
  }
  
  .input-access-code {
    // border: 3px solid map_get($colors, theme_color) !important;
    border: 1px solid #42cafc !important;
    border-bottom: 3px solid #42cafc !important;
  }
  
  .content-md {
    background-color: white !important;
  }
  
  .welcomeHeader {
    text-align: center;
    color: map_get($colors, theme_color);
    font-family: "sans-serif";
  }
  
  .content-ios {
    background: black !important;
  }
  
  a{
    color: map_get($colors, theme_color);
    text-decoration: none !important;
  }

  .create_account{
    text-align:center;
    padding-top: 8%;
  }

  .login disable-hover button button-ios button-default button-default-ios button-block button-block-ios {
    background-color: map_get($colors, theme_color);
  }

}

.passwordIcon {
  background: transparent;
  padding: 0;
  margin: 0;
  float: right;
  color: #42cafc !important;
  text-decoration: none;
}

ion-header {
  background-image: url();
}

.welcome-footer {
  margin-top: 25px;
}

.welcome-footer a{
  text-decoration: underline !important;
  padding: 9%;
  color: grey;
}

.reservation {
  position: absolute;
  bottom: 10px;
  color: black;
  text-align: center;
  width: 100%;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDownBig {
  animation: fadeInDown 1s ease 0.5s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation: fadeInLeft 1s ease 0.4s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation: fadeInRight 1s ease 0.4s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation: fadeInUp 1s ease 0.5s;
}

side-main-menu{
  .toolbar-background{
    background-color: #0e2f8e !important;
  }
} 

ion-searchbar {
  background: #c4c4dc !important;
}

.tabbar{
  background: #a5a5d2 !important;
}

side-main-menu .sideMenuIoncContent .scroll-content, side-main-menu .headerMAin, side-main-menu .buttonSIdeBAr{
  background: #7979af !important;
}

side-main-menu .headerMAin .headerBackground {
  background: #7879af !important;
}

side-main-menu .sideMenuIoncContent .headerMAin {
  background: #7879af !important;
  margin: 16px 8px;
}

side-main-menu .circle-pic {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #ffffff !important;
  font-size: 12px;
}

h2 {
  color: #ffffff !important;
}

side-main-menu .userDetails {
  color: #ffffff !important;
  text-align: center;
  font-family: "sans-serif";
  font-weight: bold;
}

side-main-menu .activeHIghlight {
  background-color: #353669 !important;
}

ion-footer .button-md {
  color: white;
  background-color: #a4a5d2 !important;
  font-size: 22px;
}

side-main-menu .toolbar-background {
  background-color: #9292ef !important;
}

.tabs-md .tab-button[aria-selected=true] {
  color: #353668 !important;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: #353668 !important;
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}