<ion-content>
    <form [formGroup]="form">

        <ion-list>
            <ion-item>
                <ion-label floating>{{ 'State Name' | translate }} <span class="mandatory-field"> * </span> </ion-label>
                <ion-input type="text" formControlName="center_name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>{{ 'State Code' | translate }} <span class="mandatory-field"> * </span> </ion-label>
                <ion-input type="text" formControlName="center_id" (ionChange)="onCodeChange($event)"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating> {{ 'Programs:' | translate }}  <span class="mandatory-field"> * </span> </ion-label>
                <ion-select formControlName="programs" multiple="true" style="min-width: 100%;">
                  <ion-option value={{course._id}} *ngFor="let course of courses">{{course.program_name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label fixed>{{ 'Active:' | translate }} </ion-label>
                <ion-toggle color="primary" formControlName="active"></ion-toggle>
            </ion-item>
        </ion-list>
    </form>

</ion-content>

<ion-footer no-border>
    <p style="color:red;" *ngIf="isDuplicate"> State Code already exists for any State or Districts or Center. Please try again with new State Code. </p>
    <ion-toolbar transparent>
        <button ion-button full (click)="createState()" ng-disabled="!isReadyToSave || isDuplicate">
            {{ 'SAVE' | translate }}
        </button>
    </ion-toolbar>
</ion-footer>